In [6]:
from sqlalchemy import create_engine
import pandas as pd

In [ ]:
!pip install pymysql

In [ ]:
!pip install sqlalchemy

In [ ]:
!pip install mysql-connector-python

In [7]:
user = "root"
senha = "1234"
banco_de_dados = "mercado_br"
host = "localhost"
porta = 3306
    
conexao = create_engine(url=f"mysql+pymysql://{user}:{senha}@{host}:{porta}/{banco_de_dados}")

In [8]:
dados_fechamento = pd.read_csv("factStocks.csv")
cadastro_moedas = pd.read_csv("dimCoin.csv")
cadastro_empresas = pd.read_csv("dimCompany.csv")
descricao_tempo = pd.read_csv("dimTime.csv")
dados_cambio = pd.read_csv("factCoins.csv")

In [16]:
descricao_tempo

,keyTime,datetime,dayTime,dayWeekTime,dayWeekAbbrevTime,dayWeekCompleteTime,monthTime,monthAbbrevTime,monthCompleteTime,bimonthTime,quarterTime,semesterTime,yearTime
0,1,1994-07-01,1,6,SAB,SABADO,7,JUL,JULHO,4,3,2,1994
1,2,1994-07-02,2,7,DOM,DOMINGO,7,JUL,JULHO,4,3,2,1994
2,3,1994-07-03,3,1,SEG,SEGUNDA,7,JUL,JULHO,4,3,2,1994
3,4,1994-07-04,4,2,TER,TERCA,7,JUL,JULHO,4,3,2,1994
4,5,1994-07-05,5,3,QUA,QUARTA,7,JUL,JULHO,4,3,2,1994
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9675,9676,2020-12-26,26,7,DOM,DOMINGO,12,DEZ,DEZEMBRO,6,4,2,2020
9676,9677,2020-12-27,27,1,SEG,SEGUNDA,12,DEZ,DEZEMBRO,6,4,2,2020
9677,9678,2020-12-28,28,2,TER,TERCA,12,DEZ,DEZEMBRO,6,4,2,2020
9678,9679,2020-12-29,29,3,QUA,QUARTA,12,DEZ,DEZEMBRO,6,4,2,2020
9679,9680,2020-12-30,30,4,QUI,QUINTA,12,DEZ,DEZEMBRO,6,4,2,2020

In [19]:
dados_cambio.tail(50)

       keyTime  keyCoin  valueCoin
13250     6629        1       5.35
13251     6629        2       6.67
13252     6630        1       5.32
13253     6630        2       6.99
13254     6631        1       5.35
13255     6631        2       6.73
13256     6632        1       5.33
13257     6632        2       6.78
13258     6633        1       5.28
13259     6633        2       6.92
13260     6634        1       5.23
13261     6634        2       6.67
13262     6635        1       5.16
13263     6635        2       6.85
13264     6636        1       5.17
13265     6636        2       6.57
13266     6637        1       5.10
13267     6637        2       6.42
13268     6638        1       5.09
13269     6638        2       6.49
13270     6639        1       5.11
13271     6639        2       6.64
13272     6640        1       5.09
13273     6640        2       6.58
13274     6641        1       5.07
13275     6641        2       6.67
13276     6642        1       5.06
13277     6642        2       6.46
13278     6643        1       5.10
13279     6643        2       6.54
13280     6644        1       5.11
13281     6644        2       6.76
13282     6645        1       5.06
13283     6645        2       6.75
13284     6646        1       5.10
13285     6646        2       6.46
13286     6647        1       5.16
13287     6647        2       6.72
13288     6648        1       5.15
13289     6648        2       6.81
13290     6649        1       5.17
13291     6649        2       6.81
13292     6650        1       5.18
13293     6650        2       6.51
13294     6651        1       5.24
13295     6651        2       6.63
13296     6652        1       5.19
13297     6652        2       6.50
13298     6653        1       5.20
13299     6653        2       6.52

In [15]:
cadastro_moedas

   keyCoin abbrevCoin nameCoin symbolCoin
0        1        USD    DOLAR          $
1        2        EUR     EURO          â‚¬

In [18]:
dados_cambio = dados_cambio.drop(13300, axis = 0)
dados_cambio = dados_cambio.drop(13301, axis = 0)

In [20]:
cadastro_moedas.to_sql('cadastro_moedas', conexao, index=False, if_exists='append')

2

In [21]:
cadastro_empresas.to_sql('cadastro_empresas', conexao, index=False, if_exists='append')

607

In [22]:
descricao_tempo.to_sql('descricao_tempo', conexao, index=False, if_exists='append')

9680

In [23]:
dados_cambio.to_sql('dados_cambio', conexao, index=False, if_exists='append')

13300

In [24]:
dados_fechamento.to_sql('dados_fechamento', conexao, index=False, if_exists='append')

680150

In [ ]:
dados_cambio