In [1]:
import pandas as pd
import requests
import zipfile
import os

pd.options.display.float_format = '{:.4f}'.format

In [2]:
ano = "2024"
mes = "01"
url = f'https://dados.cvm.gov.br/dados/FI/DOC/INF_DIARIO/DADOS/inf_diario_fi_{ano}{mes}.zip'

In [3]:
download = requests.get(url)

with open(f"inf_diario_fi_{ano}{mes}.zip", "wb") as arquivo_cvm:

    arquivo_cvm.write(download.content) 
    
arquivo_zip = zipfile.ZipFile(f"inf_diario_fi_{ano}{mes}.zip")

In [4]:
dados_fundos = pd.read_csv(arquivo_zip.open(arquivo_zip.namelist()[0]), sep = ";", encoding = 'ISO-8859-1')

dados_fundos

,TP_FUNDO,CNPJ_FUNDO,DT_COMPTC,VL_TOTAL,VL_QUOTA,VL_PATRIM_LIQ,CAPTC_DIA,RESG_DIA,NR_COTST
0,FI,00.017.024/0001-53,2024-01-02,1136699.1300,34.2989,1139708.1000,0.0000,0.0000,1
1,FI,00.017.024/0001-53,2024-01-03,1137245.8200,34.3123,1140154.8000,0.0000,0.0000,1
2,FI,00.017.024/0001-53,2024-01-04,1137741.9300,34.3260,1140610.7100,0.0000,0.0000,1
3,FI,00.017.024/0001-53,2024-01-05,1138240.6400,34.3382,1141016.0200,0.0000,0.0000,1
4,FI,00.017.024/0001-53,2024-01-08,1138427.9800,34.3505,1141423.8900,0.0000,0.0000,1
...,...,...,...,...,...,...,...,...,...
462606,FI,97.929.213/0001-34,2024-01-19,86779709.6300,11.5719,83318491.9500,0.0000,0.0000,2
462607,FI,97.929.213/0001-34,2024-01-22,86741878.9200,11.5665,83280108.8700,0.0000,0.0000,2
462608,FI,97.929.213/0001-34,2024-01-23,86866710.2200,11.5838,83404387.9600,0.0000,0.0000,2
462609,FI,97.929.213/0001-34,2024-01-24,86914161.2000,11.5903,83451286.1500,0.0000,0.0000,2
462610,FI,97.929.213/0001-34,2024-01-25,86914161.2000,11.5903,83451286.1500,0.0000,0.0000,2

In [5]:
dados_cadastro = pd.read_csv('https://dados.cvm.gov.br/dados/FI/CAD/DADOS/cad_fi.csv', 
                             sep = ";", encoding = 'ISO-8859-1')

dados_cadastro = dados_cadastro[['CNPJ_FUNDO', 'DENOM_SOCIAL']]

dados_cadastro = dados_cadastro.drop_duplicates()

dados_cadastro

/var/folders/49/ds_8p60s0c13tflg2l28s78w0000gp/T/ipykernel_20891/3548788005.py:1: DtypeWarning: Columns (14,17,18,20,22,24,27,37,38,39,40) have mixed types. Specify dtype option on import or set low_memory=False.
  dados_cadastro = pd.read_csv('https://dados.cvm.gov.br/dados/FI/CAD/DADOS/cad_fi.csv',

               CNPJ_FUNDO                                       DENOM_SOCIAL
0      00.000.684/0001-21  DEUTSCHE BANK FDO APLIC QUOTAS FDO INV FINANCE...
1      00.000.731/0001-37  ITAMARITI CASH FUNDO APLICACAO QUOTAS FDOS INV...
2      00.000.732/0001-81  FUNDO APLIC. QUOTAS DE F.I. SANTANDER CURTO PRAZO
3      00.000.740/0001-28  FUNDO DE APLIC EM QUOTAS DE FUNDOS DE INV BMC ...
4      00.000.749/0001-39  BALANCE FUNDO APLICACAO QUOTAS FUNDO INVESTIME...
...                   ...                                                ...
76166  31.674.280/0001-47  MEDIA VENTURE ESG INCENTIVADO - FUNDO DE FINAN...
76167  32.222.962/0001-81  Fundo de Financiamento da IndÃºstria Cinematogr...
76168  48.879.897/0001-00  FUNDO DE  FINANCIAMENTO DA INDÃšSTRIA CINEMATOG...
76169  52.714.528/0001-26  INVESTIMAGE 4 - FUNDO DE FINANCIAMENTO DA INDÃš...
76170  52.715.603/0001-73  INVESTIMAGE 5 - FUNDO DE FINANCIAMENTO DA INDÃš...

[67106 rows x 2 columns]

In [6]:
data_inicio_mes = (dados_fundos['DT_COMPTC'].sort_values(ascending = True).unique())[-0]
data_fim_mes = (dados_fundos['DT_COMPTC'].sort_values(ascending = True).unique())[-1]
        

dados_fundos_filtrado = dados_fundos[(dados_fundos['DT_COMPTC'].isin([data_inicio_mes, data_fim_mes]))]
                           
dados_fundos_filtrado

,TP_FUNDO,CNPJ_FUNDO,DT_COMPTC,VL_TOTAL,VL_QUOTA,VL_PATRIM_LIQ,CAPTC_DIA,RESG_DIA,NR_COTST
55017,FI,10.410.461/0001-96,2024-01-01,30105832.9200,19.0544,28524826.0300,0.0000,0.0000,1
71870,FI,12.518.282/0001-00,2024-01-01,93235099.4900,100.6587,96938971.2500,0.0000,0.0000,3
91339,FI,15.505.231/0001-24,2024-01-01,222915906.4600,969.6557,250426322.5700,0.0000,0.0000,4
99045,FI,17.207.525/0001-03,2024-01-01,25356304.7800,18588.5770,31445892.1200,0.0000,0.0000,1
103354,FI,17.574.820/0001-90,2024-01-01,3862840.8400,0.0791,3749868.4400,0.0000,0.0000,1
...,...,...,...,...,...,...,...,...,...
460794,FI,53.310.350/0001-10,2024-01-01,154665295.0000,992.0659,154713295.0000,0.0000,0.0000,1
460873,FI,53.315.250/0001-87,2024-01-01,3354408.7200,1000.5839,3354108.7200,0.0000,0.0000,1
460892,FI,53.315.287/0001-05,2024-01-01,89440768.1400,1000.0000,72233938.4600,0.0000,0.0000,1
460911,FI,53.315.338/0001-07,2024-01-01,382124314.8200,1000.0000,382124314.8200,382124314.8300,0.0000,4
460948,FI,53.315.389/0001-20,2024-01-01,51966524.1600,1000.0000,51966524.1600,51966524.1600,0.0000,4

In [7]:
base_final = pd.merge(dados_fundos_filtrado, dados_cadastro, how = "left", 
                      left_on = ["CNPJ_FUNDO"], right_on = ["CNPJ_FUNDO"])

base_final = base_final[['CNPJ_FUNDO', 'DENOM_SOCIAL', 
                         'DT_COMPTC', 'VL_QUOTA', 'VL_PATRIM_LIQ', 'NR_COTST']]

base_final = base_final.dropna()

base_final

,CNPJ_FUNDO,DENOM_SOCIAL,DT_COMPTC,VL_QUOTA,VL_PATRIM_LIQ,NR_COTST
0,10.410.461/0001-96,PIRATININGA FUNDO DE INVESTIMENTO FINANCEIRO M...,2024-01-01,19.0544,28524826.0300,1
1,12.518.282/0001-00,BORGONHA FUNDO DE INVESTIMENTO MULTIMERCADO IN...,2024-01-01,100.6587,96938971.2500,3
2,15.505.231/0001-24,YAFO - FUNDO DE INVESTIMENTO MULTIMERCADO I,2024-01-01,969.6557,250426322.5700,4
3,17.207.525/0001-03,FUNDO DE INVESTIMENTO MULTIMERCADO QUATRO ALLU...,2024-01-01,18588.5770,31445892.1200,1
4,17.574.820/0001-90,COASTAL FUNDO DE INVESTIMENTO EM AÃ‡Ã•ES,2024-01-01,0.0791,3749868.4400,1
...,...,...,...,...,...,...
67,53.310.350/0001-10,YAFO FUNDO DE INVESTIMENTO EM AÃ‡Ã•ES,2024-01-01,992.0659,154713295.0000,1
68,53.315.250/0001-87,RZND FUNDO DE INVESTIMENTO FINANCEIRO EM AÃ‡Ã•ES,2024-01-01,1000.5839,3354108.7200,1
69,53.315.287/0001-05,VERONA FUNDO DE INVESTIMENTO EM AÃ‡Ã•ES,2024-01-01,1000.0000,72233938.4600,1
70,53.315.338/0001-07,AGRO FUNDO DE INVESTIMENTO MULTIMERCADO CRÃ‰DIT...,2024-01-01,1000.0000,382124314.8200,4
71,53.315.389/0001-20,DALLAS FUNDO DE INVESTIMENTO MULTIMERCADO CRÃ‰D...,2024-01-01,1000.0000,51966524.1600,4

In [10]:
base_final[base_final['DENOM_SOCIAL'].str.contains("ARCA")]

Empty DataFrame
Columns: [CNPJ_FUNDO, DENOM_SOCIAL, DT_COMPTC, VL_QUOTA, VL_PATRIM_LIQ, NR_COTST]
Index: []